[submodule "design-sytem-svelte-components"]
	path = design-sytem-svelte-components
	url = git@github.com:copa-airlines-digital-marketing/design-sytem-svelte-components.git
[submodule "directus-cms-collections"]
	path = directus-cms-collections
	url = git@github.com:copa-airlines-digital-marketing/directus-cms-collections.git
